.div{
    background-image: url("../../public/bg.jpg");
}
.div1{
    display: flex;
column-gap: 100px;    
padding: 30px;
box-shadow: 0 0 20px white;

}
.div2{
    display: flex;
    align-items: center;
    padding: 30px;
    column-gap: 20px;
    width: 45%;
    border: solid;
    background-color: lightgray;
    box-shadow: 0 0 20px white;
}
.div3{
    display: flex;
justify-content: space-between;
padding: 10px;
}
.img2{
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.parent{
    display: flex;
    align-items: center;
    column-gap: 40px;
    justify-content: center;
    margin: 40px;
    padding: 30px;
}
p {
    /* color: blue; */
    text-align:start;
    
}
.img{
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

/* for desktop */
@media screen and (max-width: 1200px) {
    .parent{
        display: flex;
        align-items: center;
        column-gap: 40px;
        justify-content: center;
        margin: 40px;
        padding: 30px;

    }
    .img{
        height: 400px;
        width: 400px;
        border-radius: 10px;
    }
    .div1{
        display: flex;
    column-gap: 100px;   
    padding: 30px;
 
    }
    .div3{
        display: flex;
    justify-content: space-between;
    padding: 10px;
    }
    .img2{
        height: 200px;
        width: 200px;
        border-radius: 20px;
    }
    /* .div2{
        display: flex;
        align-items: center;
        padding: 30px;
        column-gap: 20px;
        width: 45%;
        border: solid;
        background-color: lightgray;
        box-shadow: 0 0 20px white;
    } */
  }


 /* for small screens and laptops  */
@media screen and (max-width:1024px) {
    .parent{
        display: flex;
        align-items: center;
        column-gap: 40px;
        margin: 40px;
        padding: 30px;

    }
    .img{
        height: 300px;
        width: 300px;
        border-radius: 10px;
    }
    p {
        color:	#FF1493;
    }
    .div1{
        display: flex;
    column-gap: 70px;  
    padding: 30px;
  
    }
    .img2{
        height: 180px;
        width: 180px;
        border-radius: 20px;
    }
    .div3{
        display: flex;
    justify-content: space-between;
    padding: 10px;
    }
    /* .div2{
        display: flex;
        align-items: center;
        padding: 30px;
        column-gap: 20px;
        width: 45%;
        border: solid;
        background-color: lightgray;
        box-shadow: 0 0 20px white;
    } */
}  

/* for ipads and tablets */
@media screen and (max-width:768px) {
    .parent{
        display: block;
        row-gap: 20px;
        margin: 40px;
        padding: 30px;

    }
    .img{
        height: 280px;
        width: 280px;
        border-radius: 10px;
    }
    p{
        color:burlywood;
    }
    .div1{
        display:inline-grid;
        row-gap: 30px;
      
    }
    .div3{
        display: inline-grid;
       
        row-gap: 30px;
    padding: 10px;
    }
    .img2{
        height: 150px;
        width: 150px;
        border-radius: 20px;
    }
    /* .div2{
      
       
        
        width: 60%;
      
    } */
}

/* for mobiles */
@media screen and (max-width:480px) {
    .parent{
        display: block;
        row-gap: 20px;
        padding: 30px;
        margin: 40px;
    }
    .img{
        height: 250px;
        width: 250px;
        border-radius: 10px;
    }
    .div1{
        display:inline-grid;
        row-gap: 30px;
      
    }
    .div2{
        width: 75%;
    }
    .img2{
        height: 130px;
        width: 130px;
        border-radius: 20px;
    }
    .div3{
        display:inline-grid;
        row-gap: 30px;
    padding: 10px;
  
    }
}
